.Footer {
  &__WhiteLabel {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    align-items: center;
    flex-wrap: wrap;

    &__logo {
      height: 30px;

      @media only screen and (max-width: 340px) {
        height: 24px;
      }
    }

    .security-label {
      margin: 10px 0;
      display: flex;
      align-items: center;
      color: #737373;
      text-align: center;

      &__img {
        height: 12px;
        width: 12px;
      }

      &__text {
        font-size: 14px;
        margin-left: 2px;

        @media only screen and (max-width: 340px) {
          font-size: 12px;
        }
      }
    }
  }
}