@import 'src/app/styles/mixins';
@import 'src/app/styles/variables';

.IframeTokenizer {
  display: flex;
  flex-direction: column;

  &__alert {
    margin-bottom: 20px;
  }

  .PaymentMethodContent {
    border-radius: 0 0 4px 4px;
    border-top: none;
    border: solid 1px $color-gray-007;
    font-family: $font-regular;
  }
}
